@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html {
  background: white;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}
.container {
  padding: 0 1em 1em 1em;
  margin: 0 auto;
  /* width: 1000px; */
}

main {
  padding: 2.5em;
}

.hidden {
  display: none;
}

.message {
  color: #333;
}

.notification__no-underline {
  text-decoration: none !important;
}
