@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  background: rgba(61, 98, 213, 0.7);
}
body {
  font-family: 'Open Sans', sans-serif;
  background: white;
}
.container {
  padding: 0 1em 1em 1em;
  margin: 15px auto;
}

main {
  padding: 1.5em;
}

.hidden {
  display: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.message {
  color: #333;
  width: 300px;
  margin: 0 auto;
}

.notification__no-underline {
  text-decoration: none !important;
}
