@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  background: rgba(61, 98, 213, 0.7);
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  padding: 0 0.65em 0.65em 0.65em;
  margin: 15px auto;
  width: 800px;
}

/* .social-media {
  min-width: 200px;
  max-width: 250px;
  margin: 0 auto;
} */

.social-media .fab {
  font-size: 24px;
}

main {
  padding: 0.55em;
}

.hidden {
  display: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.message {
  color: #333;
  margin: 0 auto;
}

.message_link {
  margin: 10px;
  display: block;
}

.notification__no-underline {
  text-decoration: none !important;
}
